* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-track {
	background-image: linear-gradient(
		to right bottom,
		rgba(0, 255, 255, 0.6),
		rgba(0, 255, 255, 0.4)
	);
}

::-webkit-scrollbar-thumb {
	background-color: hsla(0, 50%, 100%, 0.8);
	border-radius: 20px;
}

body {
	font-family: "Poppins", sans-serif;
	background-image: linear-gradient(
		to right bottom,
		rgba(0, 255, 255, 0.6),
		rgba(0, 255, 255, 0.4)
	);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	height: auto;
}
/* 
body::-webkit-scrollbar {
	width: 6px;
} */

// filepond styles
.file-pond-input-wrapper {
	border: 1px solid rgb(0 0 0 / 23%);
	border-radius: 5px;
	padding: 10px;
	height: 190px;
	margin-top: 7px;

	.filepond--panel-root {
		background: none;
		background-color: transparent;
	}

	.filepond--root {
		max-height: 172px;

		.filepond--drop-label {
			min-height: 10.8rem;
		}

		.filepond--file {
			background: rgb(255 255 255 / 48%);
			color: rgba(223, 174, 16, 0.582);
			display: flex;
			height: 62px;
			align-items: center;
			justify-content: space-between;

			.filepond--file-action-button {
				cursor: pointer;

				&:hover {
					box-shadow: 0 0 0 0.13em hsl(0deg 2% 23% / 67%);
				}
			}

			.filepond--file-status-sub {
				margin-left: -3px;
				margin-bottom: -25px;
			}
		}
	}
}

/* .makeStyles-filePondMultiWrapper-14 {
	.filepond--item {
		width: calc(33.333% - 0.5em);
		min-height: 146px;
		max-height: 146px;
	}

	.filepond--panel-root {
		background: none;
		background-color: transparent;
	}
} */

// end

// notification snack-bar styles
.MuiSnackbar-root.notification-alert {
	top: 80px;

	& .MuiPaper-root {
		background-color: rgb(255 255 255 / 51%) !important;
	}
}

// scroll bar
.ScrollbarsCustom {
	width: 100%;
	min-height: 300px;

	.ScrollbarsCustom-Wrapper {
		width: 100%;
		height: 100%;
	}

	.ScrollbarsCustom-Content {
		padding: 0 !important;
		height: 100%;
	}

	.ScrollbarsCustom-TrackY {
		position: absolute;
		right: 0;
		width: 3px;
		height: 100%;

		.ScrollbarsCustom-ThumbY {
			background: linear-gradient(
				to right bottom,
				rgba(0, 255, 255, 0.6),
				rgba(0, 255, 255, 0.4)
			);
			border-radius: 30px;
		}
	}
}
